<header class="header">
    <!--Навигация-->
    <nav class="header-nav">
      <!--Логотип-->
      <img class="header-img" src="../src/images/logo.png" alt="logo">
      <form class="search-form" id="search-form">
        <div role="group" class="radio-group">
          <ul class="site-nav">
            <li class="site-nav-item">
              <input type="radio" name="functions" value="onBtn" id="btn" class="radio-input" checked/>
              <label for="btn" class="form__label">
                Button
              </label>
            </li>
      
            <li class="site-nav-item">
              <input type="radio" name="functions" value="onScroll" id="scrol" class="radio-input" />
              <label for="scrol" class="form__label">
                Scroll
              </label>
            </li>

            <li class="site-nav-item">
              <input type="radio" name="functions" value="onScrlIo" id="scrolIo" class="radio-input" />
              <label for="scrolIo" class="form__label">
                Scroll (IO)
              </label>
            </li>
          </ul>
        </div>
        <input class="form__input" type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
        <button class="form__btn" type="submit">Search</button>
      </form>
    </nav>
</header>

<main>
  <h1 class="page-title">life's colors</h1>
  <div class="gallery">
    <!-- Карточки изображений -->
  </div>
  
  <button type="button" class="load-more displayNone">Load more</button>

  <div class="sentinel" id="sentinel"></div>
</main>



